/* Here we could potentially put global semantic stylrs
  specific to the theme of the app
*/

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.section--intro {
  background: var(--dark);
  color: var(--white);
}

.section--third {
  background: var(--green);
}